.ratio-box {
  position: relative;
  height: 0;
  display: block;
  width: 100%;
  padding-bottom: 75%;
  /* padding-bottom is calculated and rendered in to HTML */

  img,
  iframe,
  video,
  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.no-js .ratio-box {
  // fallback for uMatrix users where the noscript tag is not rendered
  &:after {
    content: 'Congrats for blocking JavaScript. In general thats a good idea, but if you want to see images here you need to allow JavaScript for this site.';
    display: flex;
    text-align: center;
    align-items: center;
    border: 1px solid #fafafa;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}