.img-debug {
  height: 0;
  position: relative;
}

.img-debug ul {
  list-style: none;
  margin: 0;
  min-width:140px;
  font-size: 0.7rem;
  position: absolute;
  bottom: 100%;
  right: 0;
  padding: 0.25rem 0.5rem;
  background: rgba(255, 255, 255, 0.5);
}

.rb {
  position: relative;
  height: 0;
  display: block;
  width: 100%;
  /* actual padding-bottom is calculated and rendered in to HTML */
  padding-bottom: 75%;
}

.rb img,
.rb picture,
.rb picture,
.rb iframe,
.rb video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  max-width: inherit;
}

.rb .img-debug {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
}

