.img-debug {
  height: 0;
  position: relative;
}

.img-debug ul {
  list-style: none;
  margin: 0;
  min-width:140px;
  font-size: 0.7rem;
  position: absolute;
  bottom: 100%;
  right: 0;
  padding: 0.25rem 0.5rem;
  background: rgba(255, 255, 255, 0.5);
}
